<!-- Footer -->
<footer class="footer bg-light py-3">
  <div class="container-fluid">
    <div class="row">
      <div class="col-6 text-start">
        <p class="mb-25">&copy; 2025 Masjid</p>
      </div>
      <div class="col-6 text-end">
        <p class="mb-0">Version 1.0.0</p>
      </div>
    </div>
  </div>
</footer>

<!-- LOGOUT CONFIRM MODAL -->
<div class="modal fade" id="logoutModal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirm Logout</h5>
        <button class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <div class="modal-body">Are you sure you want to log out?</div>

      <div class="modal-footer">
        <button class="btn btn-secondary" data-bs-dismiss="modal">
          Cancel
        </button>

        <button class="btn btn-danger" id="confirmLogoutBtn">Logout</button>
      </div>
    </div>
  </div>
</div>
