<!-- Sidebar (Offcanvas for mobile) -->
<div id="sidebar" class="bg-light d-md-block border-end">
  <div class="p-3">
    <h5 class="text-dark d-flex justify-content-between align-items-center">
      SIM Masjid
      <button class="btn btn-sm d-md-none" id="closeSidebar">
        <i class="fas fa-times"></i>
      </button>
    </h5>
    <hr />
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" href="dashboard.html"
          ><i class="fas fa-tachometer-alt me-2"></i>Dashboard</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link text-dark"
          data-bs-toggle="collapse"
          href="#masterSubmenu"
          role="button"
          aria-expanded="false"
          aria-controls="masterSubmenu"
        >
          <i class="fas fa-server me-2"></i>Master
          <i class="fas fa-chevron-down float-end"></i>
        </a>
        <div class="collapse ps-3" id="masterSubmenu">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" href="income.html">List Pendapatan</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="outcome.html">List Pengeluaran</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="saldo.html">Saldo Awal</a>
            </li>
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <a
          class="nav-link text-dark"
          data-bs-toggle="collapse"
          href="#transaksisSubmenu"
          role="button"
          aria-expanded="false"
          aria-controls="transaksisSubmenu"
        >
          <i class="fas fa-book-open me-2"></i>Transaksi
          <i class="fas fa-chevron-down float-end"></i>
        </a>
        <div class="collapse ps-3" id="transaksisSubmenu">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" href="gess.html">GESS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="doom.html">DOOM</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="gib.html">GIB</a>
            </li>
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="pemasukan.html"
          ><i class="fas fa-download me-2"></i>Pemasukan</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="pengeluaran.html"
          ><i class="fas fa-upload me-2"></i>Pengeluaran</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="laporan.html"
          ><i class="fas fa-file-alt me-2"></i> Laporan</a
        >
      </li>

      <li class="nav-item">
        <a class="nav-link" href="company.html"
          ><i class="fas fa-cogs me-2"></i>Settings</a
        >
      </li>

      <li class="nav-item">
        <button
          type="submit"
          id="logoutBtn"
          class="btn btn-link"
          style="color: inherit; text-decoration: none"
        >
          <i class="fas fa-sign-out-alt me-2"></i>Logout
        </button>
      </li>
    </ul>
  </div>
</div>
